
body {
    margin: 0px;
    background-color: beige;
}

#navBar {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
	width: 100vw;
	float: left;
	background-color: #5d5555; 
}

#navBar > div {
    height: 15vh;
}

.navButtonsDiv {
    display: flex;
    width: 60vw;
    justify-content: right;
    align-items: center;
}

.navButton {
    padding: 10px 10px;
    width: 15vw !important;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #8ea39c;
    /* border: none; */
}
.navButton:hover {
    background-color: #777;
    cursor: pointer;
}


.TCC_logo > img{
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 1vw;;
    height: 12vh;
    width: 7vw;
    margin-right: 10vw;
}

.mainContentDiv {
    position: relative;
    margin: 200vh 5vw;
}

